{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="text-center">
      <h1 class="text-center display-3">{{.Title | markdownify }}</h1>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container-fluid">
    <div class="row row pb-2 justify-content-center">
      <div class="card-deck">
        {{ range .Pages }}
        <div class="card" style="width: 30rem;">
          <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
          <div class="card-img-overlay text-white">
<!--            <h2 class="post-title">{{ .Title }}</h2>-->
            <h3 class="card-title text-white">{{ .Title }}</h3>
<!--            <div class="card-body text-right">-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}